<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>248324705249-vbno003i0h7a0psoq74o3g79kue5vinv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.248324705249-vbno003i0h7a0psoq74o3g79kue5vinv</string>
	<key>API_KEY</key>
	<string>AIzaSyDwmUo2R1J3SeiGMPHuV6qA-L4xzWWYtVw</string>
	<key>GCM_SENDER_ID</key>
	<string>248324705249</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.elearning</string>
	<key>PROJECT_ID</key>
	<string>fq-olp</string>
	<key>STORAGE_BUCKET</key>
	<string>fq-olp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:248324705249:ios:5cd16e8e95606f2b4120a0</string>
</dict>
</plist>